* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #21212e;
  font-family: "Cuprum", "Darker Grotesque";
}
nav {
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.left {
  justify-content: flex-end;
  flex-direction: row;
  min-width: 25%;
  flex-basis: 20%;
  
  margin-right: 18%;
}

.left ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li {
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.513);
  padding: 10px 0;
}
.logo {
min-height:35px ;
  color: white;
  justify-content: center;
  min-width: 30px;
  display: flex;
flex-basis: 100px;
flex-direction: column;
padding-top: 10px;
}
.logo span {
  margin-left: 30px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
}
.music {
  height: 80vh;
  display: flex;
  color: white;
}

.music--left p {
  width: 90%;
  text-align: left;
}
.music--left img {
  width: 200px;
}
.music--left h1 {
  letter-spacing: 1px;
  font-size: 45px;
  width: 45%;
  margin-bottom: 10px;
  text-align: left;
}
.music--left-cont {
  width: 50vw;

  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 30px;
  height: 100%;
}
.music--right {
  width: 50vw;
}
.img1 {
  height: 60vh;
  position: absolute;
  left: 20%;
  top: 10%;
  background-color: #fff;
  padding: 8px 2px 8px 8px;
  border-radius: 20px;
}

.img1 img {
  height: 100%;
  z-index: 1;
}
.img2 {
  height: 60vh;
  position: absolute;
  left: 20%;
  transform: scale(1.1) translateX(50px);
  top: 10%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  padding: 8px 2px 8px 8px;
  align-items: center;
  z-index: 2;
}
.img2 img {
  height: 91%;
  /* width: 90%; */
  transform: scaleY(1.1);

  z-index: 2;
}
.img3 {
  height: 60vh;
  position: absolute;
  left: 20%;
  top: 10%;
  border-radius: 20px;
  background-color: white;
  transform: translateX(110px);
  padding: 8px 2px 8px 8px;
}
.img3 img {
  height: 100%;
}
.img4 {
  height: 60vh;
  position: absolute;
  left: 20%;
  transform: scale(1.1) translateX(60px);
  top: 10%;
  background-color: black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  z-index: 2;
  padding: 8px 2px 8px 8px;
}
.img4 img {
  height: 91%;
  transform: scaleY(1.1);
  z-index: 2;
}
.img5 {
  height: 60vh;
  position: absolute;
  left: 20%;
  transform: scale(1.1) translateX(50px) rotateZ(15deg);
  top: 10%;
  background-color: rgb(143, 2, 96);
  border-radius: 20px;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 170px;
}
.img6 {
  height: 60vh;
  position: absolute;
  left: 20%;
  transform: scale(1.1) translateX(50px) rotateZ(-15deg);
  top: 10%;
  background-color: rgb(1, 127, 231);
  border-radius: 20px;
  display: flex;
  align-items: center;
  z-index: 0;
  width: 170px;
}
.music--left-cont2 {
  width: 100vw;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 30px;
  height: 100%;
}
.slider {
  display: flex;
  flex-direction: row;
  margin-left: 10px;

  margin-right: 20px;
  overflow-x: scroll;
}
.imgs {
  top: 10%;
  background-color: black;
  border-radius: 20px;
  margin-right: 25px;
  padding: 8px 1px 8px 8px;
}
.imgs img {
  height: 244px;
  width: 118px;
  margin-right: 10px;
}
.slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.slider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.music--right2 {
  width: 50vw;
  position: relative;
  justify-content: right;
}
.floater {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  position: absolute;
  right: 10%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  top: 5%;
}
.floater h2 {
  margin-left: 8px;
}
.floater p {
  margin-left: 8px;
  margin-right: 8px;
}
.floater-icon {
  background-color: #2c2c44c0;
  width: 100%;
  padding: 7px 7px 0 8px;
}
.floater-icon img {
  width: 37px;
}
.floater2 {
  transform: translateY(100px) translateX(-110%);
}
.floater3 {
  transform: translateY(250px);
}
.button {
  background-color: #0e73c7;
  border-radius: 6px;
  color: white;
  padding: 15px 32px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 30%;

  cursor: pointer;
}
.rev {
  min-width: 200px;
  height: 215px;
  background-color: #2c2c44c0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  margin: 0 10px;
}
.rev p {
  text-align: center;
  margin-bottom: 10px;
}
.rev img {
  width: 40%;
  margin-top: 15px;
}
.newsletter {
  width: 100%;
  background-color: #2c2c44c0;
}
.button2 {
  background-color: #0e73c7;
  border-radius: 6px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 20%;

  cursor: pointer;
}
.newsletter-cont {
  width: 80%;
  display: flex;

  padding: 15px;
  color: white;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
}
.newsletter input {
  border-radius: 15px;
  width: 40%;
  min-height: 40px;
}
.row {
  display: flex;
  min-height: 200px;
  color: white;
}
.footer-left {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-left: 20px;
}
.contact {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  line-height: 25px;
  flex-direction: column;
  padding:0 20px;
}
.social {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  line-height: 20px;
  flex-direction: column;
  
}
.social img {
    margin-top: 10px;
  width: 25px;
  height: auto;
  margin-right:3px;
}
@media only screen and (max-width: 800px) {
   .left {
     min-width: 50%;
     margin-right: 5%;
   }
   .music--left {
     width: 100vw;
   }
   .music--left-cont {
     width: 100vw;
     margin-top: 15px;
   }
   .music {
     flex-direction: column;
     height: auto;
     margin-top: 15px;
   }
   .music--right {
     height: 60vh;
     width: 100vw;
   }
   .music--right2 {
    height: 60vh;
    width: 100vw;
   }
   .button {
     width: 40%;
     padding:10px;
     margin-bottom: 10px;
   }
   .floater {
     width: 80%;
     position: unset;
     margin: 20PX auto;
     min-height: 200px;

   }
   .floater2 {
    transform: translateY(0) translateX(0);
}
.floater3 {
  transform: translateY(0);
}
.music--right2 {
  height: auto;
  position: unset;
} 
.music--left-cont2 {
  margin-bottom: 15px;
}
.newsletter-cont {
  
  flex-direction: column;
  justify-content: space-between;
  /* line-height: 30px; */

}
.newsletter-cont h3 {
  width: 100%;
  margin: 0 auto;
}
.newsletter input {
margin: 10px 0;
  width: 90%;

}
.music--left img {
  width: 150px;
}
.button2 {
  width: 50%;
}
.rev {
  height: 233px;
}
.row {
  flex-direction: column;
  justify-content: space-between;
}
.contact {
  width: 100vw;
}
.contact div{
  text-align: center!important;
  margin: 0 auto;
}
.footer-left {
  width: 90%;
  margin: 15px 0;
  text-align: center;
}
.social {
  width: 100vw;
  margin: 15px 0;
}
}
@media only screen and (max-width: 500px) {
  .left {
    min-width: 60%;
    margin-right: 2%;
  }
  nav {
    justify-content: space-around ;
  }
  .music--left-cont h1 {
    width: 90%;
  }
  .music--right--cont {
    margin-left: -10vw;
  }
  .music--right {
    height: 67vh;
  }
}